@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<h1>Preferred name: Braden</h1>
<img src="img/IMG_2932.png" width="400" />

<br /><br />

<p>I hope to learn about industry-level software development in IS413.</p>
<p>I love programming so I am excited to learn more ways to get the job done.</p>
<p>So far I am loving this class and this program.</p>

<br /><br />

<h3>Top 3 jobs I want:</h3>
<ol>
    <li>App developer</li>
    <li>Software developer</li>
    <li>Website developer</li>
</ol>